apiVersion: resourcepatch.io.github.k8soneill/v1alpha1
kind: PatchTracker
metadata:
  labels:
    app.kubernetes.io/name: resource-patch-operator
    app.kubernetes.io/managed-by: kustomize
  name: patchtracker-sample
spec:
  targets:
    - apiVersion: apps/v1
      kind: Deployment
      name: sample-deployment
      namespace: default
      patchField:
        path: "spec.replicas"
      secretDeps:
        - name: sample-config-secret
          namespace: default
          optional: false
          watch: true
  reconcile:
    requeueAfter: "30s"
    debounce: "5s"
  patchStrategy: "strategicMerge"
  ignoreMissingTarget: true
